*, *:before, *:after {
  box-sizing: border-box;
}

.App {
  text-align: center;


}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.page-container{
  border: transparent;
  padding: 20px;
  background-color: rgb(252, 249, 249);


}

.Btn-book {
  padding: 5px;
  background-color: rgba(110, 111, 111, 0.245);
  color: rgb(17, 6, 6);
  width: 480px;
  height: 35px;
  font-family: fantasy;
  font-size: large;
  margin-top: 0.5em;
  display:grid;
  border: none;
  text-decoration-line: none;

}

.bookoptions{
  border-radius: 5px;
  padding: 10px;
  display:inline-flexbox;
  width: 500px;
  margin-top: 50px;
  box-shadow: 0 0 10px 5px rgba(194, 192, 192, 0.96);
  border-radius: 25px;
  min-height: 75vh;
  /* margin-right: 46.5em; */
}

.Btn-book:hover{
  background-color:rgba(164, 6, 56, 0.936);
}

.shade{
  font-size: 4em;
  display: in-line;
  font-family: fantasy;
  background-image: linear-gradient(to bottom left,#060308e7, #f21515);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;

}

.addbook{
  border: 1px solid;
  border-radius: 10px;
  display: inline-block;
  padding: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif ;
  font-size: 14px;
  text-align: left;
}

.textbox-text {
  width: 300px;
  width: 100%;
  padding: 10px;
  margin: 10px;
  border: 0;
  border-radius: 5px;
  box-shadow: 0 0 15px 4px rgba(194, 192, 192, 0.96);
  font-size: 14px;
  }

  /* .title{
    font-size: 1em;
    display: in-line;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: linear-gradient(to bottom left,#390bb9e7, #0cf0dd);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    text-align: left;
    margin-left: 200px ; */
/*

  } */

  .book-details{
    padding: 10px;
    border: 0;
    border-radius: 5px;
    min-height: 500px;
    min-width: 350px;
    vertical-align: bottom;
    margin: 10px;
    display: inline-block;
  }

  /* .routes-ctn{



  } */

  .dashboard-title{
    font-family: cursive;
    font-size: 32px;
    margin-right: 75px;
  }

  .book-textstyle{
    text-align: left;
    line-height: 2em;
    font-family: cursive;
  }

.bookimage{
  margin-right: 20px;
  border-radius: 10px;
  box-shadow: 0 0 5px 4px rgba(194, 192, 192, 0.96);
}

.remove-button{
  min-height: 30px;
  min-width: 30px;
  font-family: cursive;
}

.Btn-books {
  padding: 5px;
  background-color: rgba(110, 111, 111, 0.245);
  color: rgb(17, 6, 6);
  width: 400px;
  height: 35px;
  font-family: fantasy;
  font-size: large;
  margin-top: 0.5em;
  display:grid;
  border: none;
  border-radius: 15px;
  text-decoration-line: none;
}
.Btn-books:hover{
  background-color:rgba(164, 6, 56, 0.936);
}
