.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Btn-book {
  padding: 5px;
  background-color: rgba(3, 86, 86, 0.245);
  color: rgb(17, 6, 6);
  width: 250px;
  height: 35px;
  font-family: fantasy;
  font-size: large;
  margin-top: 0.5em;
  display:grid;
  border: none;
  text-decoration-line: none;

}

.Btn-book:hover{
  background-color:rgba(61, 6, 164, 0.936);
}

.shade{
  font-size: 4em;
  display: in-line;
  font-family: fantasy;
  color: rgba(24, 2, 65, 0.936);



}
